[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"psycopg2-binary" = "*"
django-heroku = "*"
gunicorn = "*"
jsonfield = "*"

[requires]
python_version = "3.6"
